<div class="info-window">
	<div class="info-window-image">
		<%= image_tag post.images.low_resolution.url %>
	</div>
	<div class="info-window-caption">
		<p>
			<%= Time.at(post.created_time.to_i).strftime("%B %d, %Y at %I:%M %p") %>
		</p>
		<%= raw format_caption(post.caption.text) if !post.caption.nil? %>
	</div>
</div>