---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=0e5605cc6f7e47b58d6ad205a8ae973e&count=1&q=therock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4940'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"therock","bio":"The official
        Instagram account for Dwayne ''The Rock'' Johnson","website":"http:\/\/twitter.com\/TheRock","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_232192182_75sq_1381267437.jpg","full_name":"therock","id":"232192182"}]}'
  recorded_at: Wed, 04 Mar 2015 23:09:06 GMT
recorded_with: VCR 2.9.3
