---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=0e5605cc6f7e47b58d6ad205a8ae973e&count=1&q=therock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"therock","bio":"The official
        Instagram account for Dwayne ''The Rock'' Johnson","website":"http:\/\/twitter.com\/TheRock","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_232192182_75sq_1381267437.jpg","full_name":"therock","id":"232192182"}]}'
  recorded_at: Thu, 05 Mar 2015 02:33:48 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/232192182/media/recent.json?client_id=0e5605cc6f7e47b58d6ad205a8ae973e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4992'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/232192182\/media\/recent?max_id=927393605606317830_232192182\u0026client_id=0e5605cc6f7e47b58d6ad205a8ae973e","next_max_id":"927393605606317830_232192182"},"meta":{"code":200},"data":[{"attribution":null,"tags":["timetogetafterit","comingsoon","projectrock"],"location":null,"comments":{"count":960,"data":[{"created_time":"1425522692","text":"\"My
        life: a constant work in progress, and I wouldn''t have it any other way!\"
        -#SetYourGoals","from":{"username":"rab_boarder","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/1739270_386581214855312_1642099780_a.jpg","id":"918026329","full_name":"Rick
        Beaudouin"},"id":"933674474537098782"},{"created_time":"1425522696","text":"\u0641\u0627\u0643\u0631
        \u064a\u0644\u0627 \u064a\u0627 \u062a\u0648\u0631 \u0627\u0646\u062a \u0644\u0645
        \u0633\u064a\u0646\u0627 \u0639\u0645\u0644 \u0645\u0639\u0627\u0627\u0627\u0643
        \u0627\u06[...]
