---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=0e5605cc6f7e47b58d6ad205a8ae973e&count=1&q=therock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4934'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"therock","bio":"The official
        Instagram account for Dwayne ''The Rock'' Johnson","website":"http:\/\/twitter.com\/TheRock","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_232192182_75sq_1381267437.jpg","full_name":"therock","id":"232192182"}]}'
  recorded_at: Wed, 04 Mar 2015 23:09:12 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/232192182/media/recent.json?client_id=0e5605cc6f7e47b58d6ad205a8ae973e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4933'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/232192182\/media\/recent?max_id=926873307555438586_232192182\u0026client_id=0e5605cc6f7e47b58d6ad205a8ae973e","next_max_id":"926873307555438586_232192182"},"meta":{"code":200},"data":[{"attribution":null,"videos":{"low_bandwidth":{"url":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t50.2886-16\/11031418_331272447063461_2057722328_s.mp4","width":480,"height":480},"standard_resolution":{"url":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t50.2886-16\/11056125_420922048032768_1537809467_n.mp4","width":640,"height":640},"low_resolution":{"url":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t50.2886-16\/11031418_331272447063461_2057722328_s.mp4","width":480,"height":480}},"tags":["rockbottom","furious7","thishurtsyou","alotmorethanithurtsme","epicwar","rockvsstatham"],"location":null,"comments":{"count":11561,"data":[{"created_time":"1425510509","text":"ROCK
        BOTTOM OUTTA NOWHERE !!!!!","from":{"username":"ufg8trs4lyfe","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10919626_328344584029355_982539420_a.jpg","id":"205257297","full_name":"Lance"},"id":"933572275001760791"},{"created_time":"1425510513","text":"@matty_highet
        @stavros_91 @chad_schulte_","from":{"username":"shark160","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_209166214_75sq_1356206451.jpg","id":"209166214","full_name":"Daniel
        Nigh[...]
