---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/follows.json?access_token=2575176.0e5605c.26763a8a5f254d5c921c77259ed20416&user_id=2575176
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2575176.0e5605c.26763a8a5f254d5c921c77259ed20416"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4982'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/2575176\/follows?access_token=2575176.0e5605c.26763a8a5f254d5c921c77259ed20416\u0026cursor=1359582639595\u0026user_id=2575176","next_cursor":"1359582639595"},"meta":{"code":200},"data":[{"username":"sarimatsu","bio":"","website":"","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10852850_754817374628610_751260686_a.jpg","full_name":"Sarita","id":"2822558"},{"username":"ashleyinnewyork","bio":"\u2661Dentist\u2661\nNew
        York, Seattle, Seoul","website":"","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10731766_562573823842795_590573765_a.jpg","full_name":"New
        York married life","id":"24559554"},{"username":"alyssayoshi","bio":"","website":"","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10513779_320189734823282_1960129617_a.jpg","full_name[...]
