
<div class="row">
	<aside class="col-md-2">
		<% if current_user && current_user.instagram_authenticated? %>
			<div id="instagram-user-follows-list">
				<%= render partial: 'shared/user_follow', collection: @user_follows %>
			</div>
		<% else %>
			<div>
				<h2><%= link_to "Sign in with Instagram", user_omniauth_authorize_path(:instagram) %> to see what your friends are up to!</h2>
			</div>
		<% end %>
	</aside>
	<div class="col-md-10">
		<div id="map-canvas">
		</div>
	</div>
</div>