/* Layout */

#content_container {
  margin-top: 50px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/* Navbar */

.instagram-icon {
  padding-top: 12.5px;
}
.instagram-icon img.inactive {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.glyphicon-cog {
  font-size: 1.2em;
}

/* Map */

#map-canvas {
	height: 600px;
	width: 100%;
  margin-right: 10px;
}

/* Info Window */

.info-window {
	width: 315px;
}

.info-window-caption {
	word-wrap: break-word;
}

/* User Follows List */

#instagram-user-follows-list {
  height: 600px;
  overflow-y: auto;
}

.user-follow-form {
  font-size: 0.75em;
  &:hover {
    background-color: DarkGray;
  }
}

/* Alerts */

.alert {
  margin-bottom: 0 !important;
}