/* Map */

#map-canvas {
	height: 600px;
	width: 100%;
  margin-right: 10px;
}

/* Info Window */

.info-window {
	width: 315px;
}

.info-window-caption {
	word-wrap: break-word;
}

/* User Follows List */

#instagram-user-follows-list {
  height: 600px;
  overflow-y: auto;
}

.user-follow-form {
  font-size: 0.75em;
  &:hover {
    background-color: DarkGray;
  }
}